.container{ 
    background-color: #fafafa;
    
}

.calc-container{
    background-color: #fafafa;
}

.curreCheckbox {
    display: flex;
    justify-content: flex-end;
    padding-right: 0;
}

.dropdown-toggle {
    background-color: #fafafa;
    color: rebeccapurple;
    border-color: transparent;
}

.dropdown-toggle:hover {
    background-color: gray;

}

.input-group {
    padding: 0 0 0 0;
}

.gj-datepicker {
    width: 75%;
}

.curreCheckbox >button::first-letter, .dropdown-menu > button::first-letter {
    color: green;
}

.table-wrapper-scroll-y {
    display: block;
    max-height: 200px;
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    }