.currency {
    /* background-color: #fafa; */
    

}

.curreCheckbox {
    
}

.row {
    margin-right: 4px;
}

.dropdown-toggle {
    background-color: #fafafa;
    color: inherit;
    border-color: transparent;
}

.dropdown-toggle:hover {
    background-color: gray;
    
}

.input-group {
    padding: 0 0 0 0;
}